@import 'vars';
$mw-card-top-bottom-ratio:80%;
.mw-card-panel{
  background:$rl-blue;
  color:$rl-dull-white;
  width:245px;
  height:340px;
  border-radius:$card-rounding;
  .mw-card-panel-top{
    height:$mw-card-top-bottom-ratio;
    width:100%;
    .mw-card-panel-image-wrapper{
      padding:10px;
      width:100%;
      height:100%;
      .card-panel-image{
        height:100%;
        background:$rl-grey;
        overflow: hidden;
        border: 3px solid $rl-gold;
        margin-top: 8px;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 50%;
      }
    }
  }
  .mw-card-panel-bottom{
    height:100 -$mw-card-top-bottom-ratio;
    .mw-card-panel-title{
      text-align: center;
    }
  }
}