$rl-blue:#1c2834;
$rl-gold:#e3d49e;
$rl-white:#CCC;
$rl-salmon:#ca6466;
$rl-red:#703030;
$rl-navy:#2f343b;
$rl-grey:#7E827A;
$rl-stucco:#E3CDA4;
$rl-orange:#C77966;
$rl-rich-green:#072111;
$rl-light-green:#20421B;
$rl-searing-white:#ffffff;
$rl-dull-white:#cccccc;